body{
    margin: 0;
    padding: 0;
    background-color: rgb(235, 235, 235);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header{
    background-color: rgb(41, 41, 41);
    height: 8vh;
    margin: 0;
    padding-top: 1vh;
    p{
        color: white;
        font-size: 3em;
        font-weight: bold;
        padding: 0;
        margin: 0;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        margin-left: 10vw;
    }
}
#welcome{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgb(41, 41, 41);
    z-index: 50;
    div{
        position: relative;
        top: 14.65vh;
        left: -34.65vh;
        width: 68vh;
        height: 68vh;
        z-index: 51;
        background-color: rgb(255, 255, 255);
        transform: rotate(45deg);
    }
    span{
        color: rgb(255, 255, 255);
        position: relative;
        left: 50vh;
        top: -40vh;
        font-size: 3em;
        font-weight:900;
        h1{
            margin-bottom: 10vh;
        }
    }
}
.game{

    width: 100%;
    margin: 0 auto;
    margin-top: 5vh;
    display: flex;
    position: relative;
    .divImg{
        width: 40%;
        img{
            width: 50%;
            margin:  0 25%;
        }
    }
    article{
        width: 40%;
        position: absolute;
        right: -1em;
        padding: 1em;
        background-color: rgb(255, 255, 255);
        border-radius: 10px;
        padding-right: 5em;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;

        .resume { 
            width: 100%;
            background: #111;
            padding: 1em;
            color: #eee;
            font-size: 0.5em;
            height: 20vh;
            line-height: 1;
            text-shadow: 0.06rem 0 0.06rem #ea36af, -0.125rem 0 0.06rem #75fa69;
            letter-spacing: 0.125em;
            animation-duration: 0.01s;
            animation-name: textflicker;
            animation-iteration-count: infinite;
            animation-direction: alternate;
            h1 { 
                font-size: 5em; 
                margin: 0;
            }
        }
        .infoGame{
            

            .hist{
                position: relative;
                font-size: x-large;
                padding: 1em;
                background-color: white;
                border-radius: 10px;
                width: 100%;
                box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
                p{
                    display: inline;
                    left: 0;
                }
                span{
                    right: 0;
                }
            }
            .rep{
                margin: 3vh 0;
                display: flex;
                align-items: center;
                justify-content: center;
                background-color: white;
                border-radius: 10px;
                span{
                    margin: 0 0.5vw;
                    font-size: 3em;
                }
            }
            .st{
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                button{
                    width: 3em;
                    font-size: 2em;
                }
            }
            .buttons{
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                padding: 1em;
                border-radius: 10px;
                
            }
        }
    }
}

.but{
    margin: 0.1em;
    width: 1.3em;
    height: 1.3em;
    font-size: 3em;
    text-align: center;
    float: left;
    border-radius: 10px;
    color: #ffffff;
    text-decoration: none;
    background-color: #494949;
    border-bottom: 5px solid #242424;
    text-shadow: 0px -2px #242424;
    transition: all 0.1s;
    -webkit-transition: all 0.1s;
}

.but:hover{
    transform: translate(0px,5px);
    -webkit-transform: translate(0px,5px);
    border-bottom: 1px solid;
}

@keyframes textflicker {
    from {
      text-shadow: 1px 0 0 #ea36af, -2px 0 0 #75fa69;
    }
    to {
      text-shadow: 2px 0.5px 2px #ea36af, -1px -0.5px 2px #75fa69;
    }
 }